---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Hr from "@components/Hr.astro";
import Intro from "@components/Intro.astro";
import Experience from "@components/Experience.astro";
---

<Layout>
  <Header />
  <main id="main-content">
    <Intro />
    <Hr />
    <Experience />
  </main>
  <Footer />
</Layout>
