---
import { experiences } from "@assets/experience";
import Card from "./Card";
import ExperienceHeader from "./ExperienceHeader";
---

<section id="experience">
  <ExperienceHeader client:load />
  <ul>
    {
      experiences.map(experience => {
        return <Card experience={experience} />;
      })
    }
  </ul>
</section>

<style>
  #experience {
    @apply pb-6 pt-12;
  }
</style>
