---
import LinkButton from "./LinkButton.astro";
---

<section id="hero">
  <h1>Hi, I'm Marcelo! 👋</h1>
  <p><i>Master of none, but oftentimes better than a master of one</i></p>
  <p>
    I'm an <b>experienced and versatile{" "}
      Software Engineer
    </b>
    playing a central role evolving an enterprise ecommerce platform at{" "}
    <LinkButton href="https://vtex.com" target="_blank">
      VTEX.
    </LinkButton>
      I also founded and currently maintain a unique social network centered around dreams (the ones we have while sleeping),
      <LinkButton href="https://eutiveumsonho.com" target="_blank">eutiveumsonho.</LinkButton>
    </p>
    <p>
      I am used to build end-to-end software, from beautiful frontends to complex backend services and some infrastructure code.
    </p>
    <p>
      When I'm not writing code, you'll find me immersing myself in sports or spending quality time with friends.
    </p>
  </p>
</section>

<style>
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
</style>
